body{
  background-image: url('Backgroundtemp.png');
  
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  background-size: 1366px 660px;
  height: 100%; 
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    float: right;
    
}
.container{
    width:60%;
    height:78.12%;
    background-color: white;
    margin-left: 20%;
    border-radius: 20px;
    padding-left: 4.8%;
    margin-top: 3%;
    box-shadow: 1px 1.5px #474747;
}

section:after {
    content: "";
    display: table;
    clear: both;
  }

  left{
    float: left;
    width: 50%;
    text-align: center;
    
}
right{
    float: left;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 7%;
}
.left{
    padding-top: 17%;
    padding-bottom: 8%;
    padding-right: 2%;

}

.createaccount{
    padding-top: 50px;
    cursor: pointer;
}
a:link {
    text-decoration: none;
    color: black;
}
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: cornflowerblue;
  }
  
  a:active {
    text-decoration: none;
    color: cornflowerblue;
  }


.welcometext{
    font-size: 250%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=text], input[type=password] {
    background: transparent;
    border: none;
    border-bottom: solid 1px #999999;
    font-size: 100%;
    width: 80%;
    margin-bottom: 10%;
}



.button{
    margin-top:5%;
    background-color: #6DABE4;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
}
.orloginwith{
    max-block-size: 100%;
    display: inline-block;
}


.icon{
    height:auto;
    width:20px;
    padding-left: 5px;
    padding-top: 10px;
    
}

.facebook{
    color: #4267B2;
}

.twitter{
    color:#00acee;
}
.google{
    color:#db3236;
}